[submodule "lisp/emacs-ctable"]
	path = lisp/emacs-ctable
	url = git@github.com:kiwanami/emacs-ctable.git
[submodule "lisp/emacs-deferred"]
	path = lisp/emacs-deferred
	url = git@github.com:kiwanami/emacs-deferred.git
[submodule "lisp/emacs-epc"]
	path = lisp/emacs-epc
	url = git@github.com:kiwanami/emacs-epc.git
[submodule "lisp/expand-region.el"]
	path = lisp/expand-region.el
	url = git@github.com:magnars/expand-region.el.git
[submodule "lisp/emacs-jedi"]
	path = lisp/emacs-jedi
	url = git@github.com:tkf/emacs-jedi.git
[submodule "lisp/jinja2-mode"]
	path = lisp/jinja2-mode
	url = git@github.com:paradoxxxzero/jinja2-mode.git
[submodule "lisp/change-inner.el"]
	path = lisp/change-inner.el
	url = git@github.com:magnars/change-inner.el.git
